/front/.env
/back/.env
/back/node_modules
/front/node_modules
/front/.pnp
/front/.pnp.js
/back/documents/companyDocuments
/back/documents/companyContracts

# testing
/front/coverage

# production
/front/build

