.landList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#imageInput{
    display:none
}

.imageButton{
    width:10rem;
    height: 3rem;
    margin:1rem;
}