.mainComponent{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height:30rem;
}

.imageComponent{
    height: 90%;
    width: 40%;
    position:relative;
    
}

.imageComponent>img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.buyComponent{
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    max-width: 50%;
    height: 80%;
}

.itemDetails{
    display:flex;
    gap: 2rem;
}

.buyZone{
    margin: 8rem 0 0 0;
    display:flex;
    gap:1rem;
}

.locationComponent{
    margin: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Aici este CSS-ul pentru sectiunea "profil" */
.profileComponent{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    margin: 1rem;
}

.userLogo{
    width:10rem;
    height: 10rem;
}

/* Aici este CSS-ul pentru sectiunea "review" */
.reviewSection{
    background-color: white;
    display:inline-block;
    padding: 2rem;
    border-radius: 30px;
}

.reviewRateSection{
    display: flex;
    justify-content: space-between ;
}