
.ticketListWrapper {
    max-width: 90rem;
}

.ticketListComponent {
    max-height: 90rem;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.ticketContainer {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
